* {
margin: 0 16px;
padding: 24px 0;
}

.cabecalho {
     background-color: black;color: white;
    display: flex;
justify-content: space-around;
padding: 24px 0;
font-size: 18px;}

.cabecalho-imagem {
    width: 28%;}

.cabecalho-lista-item{
display: inline-block;
}

.escola-imagem {
    width:25%;
}

.escola {
    background-image: linear-gradient(#515EA3,#55BEEB);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.escola-conteudo{
    width: 35%;
}

body{
    font-family:'Poppins', sans-serif;
}
.estudante-imagem{
    width: 170px
}